<h1>Reservations#comfirm</h1>
<p>Find me in app/views/reservations/confirm.html.erb</p>
<h1>予約確認画面</h1>
<p>予約した数: <%= @reservation.quantity %></p>
<p>商品ID: <%= @reservation.product_id %></p>
<p>ユーザーID: <%= @user.id %></p>
<p><%= link_to "戻る", :products %></p>
