<h1>Reservations#index</h1>
<p>Find me in app/views/reservations/index.html.erb</p>
<h1>予約内容の一覧</h1>
<% @reservations.each do |reservation| %>
  <table class="show-table">
  <tr>
    <th>product名</th>
    <td><%= reservation.product.name %></td>
  </tr>
  <tr>
    <th>数</th>
    <td><%= reservation.quantity %></td>
  <tr>
</table>
<% end %>